@page "/notauthorized"

@code {
    public const string Url = "/notauthorized";
    public static string GetRedirectUrl(string id) => Url + id;
}

<div class="centered">
    
    <h3>Not Authorized</h3>
    <p>You do not have permission to view this page.</p>
    
</div>