<MudPaper Elevation="10" Width="100%" Style="margin: 16px 0; padding: 16px;">
    <MudText Class="d-flex align-center justify-content-center mud-width-full" Typo="Typo.h6">
        @Model.Title
    </MudText>
    
    @foreach (var text in Model.Content)
    {
        <MudText Style="height: 25px">@text</MudText>
    }
    
    <div class="d-flex mud-width-full justify-content-between" style="opacity: 0.2; padding-top: 40px;">
        <MudText>
            @Model.Creator.Name
        </MudText>
        <MudText>
            @Model.CreatedLocal()
        </MudText>
    </div>
</MudPaper>

@code {
    
    [Parameter] public NewsDbModel Model { get; set; }
}